@charset "utf-8";
/* CSS Document */
.mybutton
{
	text-decoration: none;
	color: #000;
	width: 33px;
	height: 33px;
	background-color: rgba(103,113,204,0.2);
	border: 1px solid rgba(255,255,255,1);
 	border-radius: 3px;
 	box-shadow: 1px 1px 1px  rgba(123,123,255,0.7);
}
.mybutton:hover
{
	text-decoration: none;
	color: #101010;
	border: 1px solid rgba(0,0,0,1);		
	background-color: rgba(103,113,204,1);	
	box-shadow: 3px 3px 3px  rgba(123,123,255,0.7);
}

.mybutton:active
{
	text-decoration: none;
	color: #2F4056;
	border: 1px solid rgba(0,0,0,0.3);		
	background-color: rgba(103,113,204,0.3);	
	box-shadow: 3px 3px 3px  rgba(123,123,255,0.3);
}

.myli
{
	text-align:center;    
    list-style: none;
}

.mylia
{
  width: 30px;
  height: 30px;
  border-top: 1px #CCC solid;
  border-bottom: 1px #CCC solid;
  border-left: 1px #CCC solid;
  background: rgba(0,0,0,0);
  color: #000;
  float: left;
  text-decoration: none;
}

.mylia:hover
{
  background-color: rgba(123,113,204,0.8);
  color: #222222;
  text-decoration: none;
}

.mylia:active
{
	text-decoration: none;
	color: #2F4056;
	border: 1px solid rgba(0,0,0,0.3);		
	background-color: rgba(103,113,204,0.3);	
	box-shadow: 3px 3px 3px  rgba(123,123,255,0.3);
}

.mylitext
{
	position:relative;
	top: 6px;
	left: 6px;
}
#mytishiModal
{
	top: 100px;
}